<%= form_with(model: ranking, local: true) do |form| %>
  <% if ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ranking_date %>
    <%= form.date_select :ranking_date %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :ranking_points %>
    <%= form.number_field :ranking_points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
